<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Email Validation</title>


  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="container" style="background-color: rgb(206, 242, 245);">